* {
    box-sizing: border-box;
}

/* Element Selectors  */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header {
    background-color: #31343d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 1% 0.5% 0;
}

header nav a {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    text-decoration: none;
    padding: 3px;
    color:  #92cccd;
    font-size: 150%;
    font-weight: bolder;
    border-bottom: 3px solid #92cccd;
    background-size: 200% 200%;
    background-image: linear-gradient(to top, #31343d 50%, transparent 50%);
    transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
}

header nav a:hover {
    color: #31343d;
    background-image:  linear-gradient(to top, #92cccd 51%, transparent 50%);
    transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    background-position: 0 100%;
}

h1 {
    display: flex;
    font-size: 300%;
    font-weight: bolder;
    background-color: #92cccd;
    color: #31343d;
    padding: 0 25px 0 60px;
    margin: 10px 0 10px 0;
}

h2 {
    font-size: 200%;
    font-weight: bolder;
}

h3 {
    font-size: 125%;
    font-weight: 500;
}

nav {
    display: flex;
    justify-content: center;
}

figure {
    position: relative;
    margin-bottom: 1%;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1920px;
}

aside {
    text-align: right;
    padding: 0 1% 0 0;
    width: 15%;
    color: #445876;
    border-right: 3px solid #445876;
}

/* Class Selectors  */
.subtitle {
    position: absolute;
    right: 80px;
    bottom: 15px;
    margin: 15px 0;
    padding: 7px;
    color: #31343d;
    background-color: #92cccd;
}

.title {
    position: absolute;
    bottom: 15px;
    padding: 0 5px;
    color: #31343d;
    background-color: #92cccd;
}

.container {
    display: flex;
    width: 90%;
    margin: 1% auto;
    justify-content: center;
}

.content {
    width: 85%;
}

.content p {
    margin-bottom: 15px;
    padding: 0 3%;
    color: #445876;
}

.content a {
    text-decoration: none;
    color:  #445876;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 0 0 100%;
    justify-content: center;
  }

.layout {
    margin: 0 3%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }
  
.card {
    border: 5px solid #92cccd;
    margin: 1%;
    position: relative;
    opacity: 0.7;
    transition: 0.3s;
  }

.card:hover {
    opacity: 1;
}

.box-1 {
    height: 400px;
    background-image: url(../images/card_1.jpg);
    background-position: top;  
    background-repeat: no-repeat; 
    background-size: cover;
    flex: 1 1 98%;
  }

.box-2 {
    height: 200px;
    background-image: url(../images/card_1.jpg);
    background-position: top;  
    background-repeat: no-repeat; 
    background-size: cover;
    flex: 1 1 48%;
  }

.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bolder;
}

.contact a {
    border-bottom: 3px solid #445876;
    padding: 3px;
    background-size: 200% 200%;
    background-image: linear-gradient(to top, #31343d 50%, transparent 50%);
    transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
}

.contact a:hover {
    color: white;
    background-image:  linear-gradient(to top, #31343d 51%, transparent 50%);
    transition: background-position 300ms, color 300ms ease, border-color 300ms ease;
    background-position: 0 100%;
}


/* ID Selectors  */
#banner {
    width: 100%;
    height: 200px;
    background-image: url(../images/banner.png);
    
    position: relative;
}


@media screen and (max-width: 980px) {
    
    header,
    main {
        flex-direction: column;
        padding: 0;
    }

    h1 {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }

    header nav {
        justify-content: center;
        padding: 1%;
    }

    aside {
        margin: 0 auto;
        padding: 0;
        text-align: center;
        border-right: 0;
        border-bottom:3px solid #445876;
    }

    .container {
        flex-direction: column;
        margin: 1% auto;
    }

    .content {
        width: 100%;
        text-align: center;
        padding: 1% 2% 0;
    }

    .layout {
        margin: 0 auto;
    }

    .mobile-margin {
        margin-bottom: 25px;
    }

  }

  @media screen and (max-width: 768px) {

    aside {
        width: auto;
        text-align: center;
    }

    .card {
        min-height: 150px;
    }

    .row {
      flex-direction: column;
      margin: 1% 0;
    }

    .box-1,
    .box-2 {
        width: 100%;
    }

  }

@media screen and (max-width: 560px) {

    .column {
        flex-direction: column;
    }

    h1 {
        font-size: 225%;
    }

    header nav a {
        font-size: 100%;
        margin: 5px;
    }

    aside {
        width: auto;
        text-align: center;
    }

    .subtitle {
        right: 20px;
        bottom: 5px;
        font-size: 150%;
    }
}